{% extends 'base.html' %}
{% block title %}Bussin Recipes{% endblock title%}
{% block content %}
<!DOCTYPE html>
<body>
    <nav class="topleft">
        <a href="{% url 'recipe_list' %}">Main Page</a>
    </nav>
    <main>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}
    <footer>Made with love by Bussin Recipes</footer>
</body>

</html>
