{% extends 'base.html' %}
{% block title %}Bussin Recipes{% endblock title%}
{% block content %}
<head>
</head>
<body>
    <nav class="topleft">
        <a href="{% url 'recipe_list' %}">Main Page</a>
        <a href="{% url 'edit_recipe' recipe_object.id %}">Edit</a>
    </nav>
    <main>
        <div class="center">
            <h1>{{ recipe_object.title }}</h1>
            <img src="{{ recipe_object.picture }}">
            <div>5 stars ✨✨✨✨✨</div>
            <p>{{ recipe_object.description }}</p>
            <h2>Ingredients</h2>
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Food Item</th>
                    </tr>
                <tbody class="changebg">
                    {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
            <h2>Steps</h2>
            <ol>
                {% for step in recipe_object.steps.all %}
                    <li>{{ step.instruction }}</li>
                {% endfor %}
            </ol>
        </div>
    </main>
</body>
{% endblock content %}
<footer>Made with love by Bussin Recipes</footer>
</html>
