{% extends 'base.html' %}
{% block title %}Bussin Recipes{% endblock title%}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ recipe_object.title }} - Bussin Recipes</title>
</head>

<body>
    <nav class="topleft">
        <a href="{% url 'recipe_list' %}">Main Page</a>
    </nav>
    <main>
        {% if user.is_authenticated %}
        <h1>Edit {{recipe_object.title}}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Save</button>
        </form>
        {% endif %}
    </main>
{% endblock content %}
    <footer>Made with love by Bussin Recipes</footer>
</body>

</html>
