{% extends 'base.html' %}
{% block title %}Bussin Recipes{% endblock title%}
{% block content %}
<header>
    <nav class="top">
        <a href="{% url 'recipe_list' %}">Main Page</a>
        {% if user.is_authenticated %}
        <a href="{%url 'create_recipe' %}">Create a recipe</a>
        {% endif %}
        {% if user.is_authenticated %}
          Hello, {{ user.username }}!
          <a href="{%url 'user_logout'%}">Logout</a>
        {% else %}
          <a href="{% url 'signup' %}">Sign Up</a>
          <a href="{% url 'user_login'%}">Login</a>
        {% endif %}
    </nav>
    <nav>
      {% if user.is_authenticated %}
      <a href="{% url 'my_recipe_list' %}">My recipes</a>
      {% endif %}
    </nav>
  </header>
  <main>
    <h1 style="text-align:center">Bussin Recipes </h1>
    <div class="recipe-grid">
      {% for recipe in recipe_list%}
      <div>
        <h3>
            <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
          <p>{{ recipe.created_on|date:"M d" }}</p>
        </h3>
        <img src="{{ recipe.picture }}">
        <div>5 stars ✨</div>
      </div>
      {% endfor %}
    </div>
  </main>
{% endblock content %}

<footer>
    Made with love by Bussin Recipes
</footer>
</html>
