.top {
    background-color: rgb(220, 220, 220);
}

.middle {
    background-color: #f5f5dc;
}

img {
    width: 200px;
    height: 200x;
    background-size: cover;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: blue;
}

.recipe-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0;
}

tr:nth-child(even) {
    background-color: aqua;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}


img {
    height: 200px;
}

.top {
    border-bottom: 1px solid black;
    padding: 16px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15px;
    background: #6cf;
}
